.row {
    display: flex;
    justify-content: center;
}
div {
    width: 330px;
    border: 25px solid red;
    padding: 25px;
    margin: 25px;
}
.team{
    
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}






body {
    text-align:center;
    font-family: 'Arvo', serif;
    font-size: 30px;
    font-weight: bold;
    background: black;
    color: white; 
}
